@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes animateBackground {
    0% {
        transform: translate3d(0,0,0);
    }
    100% {
        transform: translate3d(0,-396px,0);
    }
}

.box {
    @apply shadow-lg bg-white rounded-lg p-4;
}

.stripes-animated {
    display: none;
    background: repeating-linear-gradient(
        45deg,
        rgb(203 213 225),
        rgb(203 213 225) 70px,
        rgb(148 163 184) 70px,
        rgb(148 163 184) 140px
    );
    position: absolute;
    top: 0px;
    left: 0px;
    height: 400%;
    width: 100%;
    opacity: 0.2;
    animation: animateBackground 5s linear infinite;
}

.center-content {
    @apply flex relative overflow-hidden items-center justify-center h-full rounded-md bg-slate-100;
}

.widget-icon {
    @apply bg-slate-200/60 p-5 rounded-full;
}

@keyframes jelly {
    0% {
        transform: scale(1, 1);
    }
    4% {
        transform: scale(0.947, 0.961);
    }
    6% {
        transform: scale(0.967, 0.99);
    }
    8% {
        transform: scale(0.999, 1.034);
    }
    10% {
        transform: scale(1.033, 1.075);
    }
    12% {
        transform: scale(1.041, 1.084);
    }
    14% {
        transform: scale(1.068, 1.1);
    }
    16% {
        transform: scale(1.071, 1.1);
    }
    18% {
        transform: scale(1.081, 1.086);
    }
    20% {
        transform: scale(1.082, 1.078);
    }
    22% {
        transform: scale(1.079, 1.06);
    }
    25% {
        transform: scale(1.073, 1.044);
    }
    27% {
        transform: scale(1.07, 1.041);
    }
    30% {
        transform: scale(1.059, 1.035);
    }
    31% {
        transform: scale(1.057, 1.035);
    }
    36% {
        transform: scale(1.047, 1.044);
    }
    38% {
        transform: scale(1.046, 1.047);
    }
    42% {
        transform: scale(1.044, 1.053);
    }
    45% {
        transform: scale(1.045, 1.055);
    }
    53% {
        transform: scale(1.049, 1.051);
    }
    60% {
        transform: scale(1.051, 1.049);
    }
    75% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

.jelly-animation {
    animation: jelly 1s linear both;
}