@import './base.css';

.draggable-mirror {
    @apply border-2 border-primary-600 bg-primary-500 transition-scale bg-opacity-80 backdrop-blur-sm;
}

.draggable--over {
    @apply border-2 border-slate-300;
}

.draggable--over .stripes-animated {
    display: block;
}

.draggable-source--placed {
    @apply border-2 border-primary-800 bg-primary-500 transition-all;
}